#footer {
  position: absolute;
  margin-right: auto;
  margin-left: auto;   
  width: 100%;
}
.whatever{
    background-color: red;
    display: inline-block;
    width: 100px;
    height: 100px;
}

#checkboxes input[type=radio]{
    display: none;
}

#checkboxes input[type=radio]:checked + .whatever{
  border-left: solid 5px green;
}
.page-footer{margin-top: 10%;}
