
.row {
	margin-bottom: 15px;
}

.input-field {
	margin-bottom: 0px;
	margin-top: 0px;
}

a{text-decoration: none; color: black;}

.background-img{
	background-image:url("../img/pizza-1.jpg");
	background-attachment: fixed;
	background-size:cover;
	background-repeat:no-repeat;
	height: 100%;
}

.bg-color{
	background-color: gray;
	text-align: center;
}
.bg-red-sal{
	background-color: #ee6e73!important;
}
.a-side{

	background-color: gray;
	height: 1000px;
	position: fixed;
}
	height: 1100px;
	position: fixed;
	width: 25%;
}
.main{margin-left: 25%;}

.sm-card{
	width:200px;
	float: left;
	margin: 10px;
	background: #fff;
}
.side-content{
	float: left;
	width: 80%;
	margin: 20px 10%;
	padding: 4px 60px; 
	border-radius: 20px;
		background: #fff;
}
.form-log{
	    width: 100%;
    margin: 1% 25%;
}
.fl-right{float: right;}
.fl-left{float: left;}
#select{display: none!important;}
.main-menu{width: 70%;margin: 0px 15%;}
.main{width: 100%};

.side-form{margin: 90px 50px;}
.clear{clear: both;}


.login_form_admin{margin: 15% auto;width: 50%}
.formu_small{float: right;width: 50%;}
.dsblock {
	display: block;
}
.dsnone{display: none;}

.cont{height: 400px;}
.img_pizza{width: 50px;}

.table_cart th, td{text-align: center;}
.number_form{width: 30px!important;}
.right{float: right;}


.header-title {
    width: 75%;
    margin: auto;
    padding: 50px 0px 50px 0px;
}

h6 {
    margin-bottom: 15px;
}

.gender {
    color: #9e9e9e;
    margin-right: 30px;
}

p label {
    margin-right: 35px;
}

.switch label .lever {
	float: right;
	margin: 2px 50px;
}

.input-field.col label {
	width: 100%;
	float: left;
	margin-bottom: 3px;
}

.menu-admin{
	width: 100%;
    margin-top: 22%;
}

.center-align {
    position: absolute;
    
    left: 50%;
    transform: translate(-50%, -50%);
}
table th:last-of-type{
	text-align: center;
}

.logo {
	width: 20%;
	margin: 7% 11% -10% 40%;
	background-image: url("../img/logo.png");
	height: 200px;
	background-size: 200px 200px; 
	background-position: center;
	background-repeat: no-repeat;
	}
.ds-none{
	display: none;
}
@media (min-width: 375) .side-content {
	width: 100%;
	
	
}