
a{text-decoration: none; color: black;}

.background-img{
	background-image:url("../img/pizza-1.jpg");
	background-attachment: fixed;
	background-size:cover;
	background-repeat:no-repeat;
	height: 100%;
}

.bg-color{
	background-color: gray;
	text-align: center;
}
.a-side{

	background-color: gray;
	height: 1000px;
	position: fixed;
}
	height: 1100px;
	position: fixed;
	width: 25%;
}
.main{margin-left: 25%;}

.sm-card{
	width:200px;
	float: left;
	margin: 10px;
	background: #fff;
}
.side-content{
	float: left;
	width: 70%;
	margin: 20px 15%;
	padding: 4px 60px; 
	border-radius: 20px;
		background: #fff;
}

select{display: none;}
.main-menu{width: 70%;margin: 0px 15%;}
.main{width: 100%;}

.side-form{margin: 90px 50px;}
.clear{clear: both;}

.form-log:first-of-type input[type="text"]{margin-top: 108px;}
.login_form_admin{margin: 15% auto;width: 50%}
.formu_small{float: right;width: 50%;}
.dsblock {
	display: block;
}
.dsnone{display: none;}

.cont{height: 400px;}
.img_pizza{width: 50px;}

.table_cart th, td{text-align: center;}
.number_form{width: 30px!important;}
.right{float: right;}


.header-title {
    width: 75%;
    margin: auto;
    padding: 50px 0px 50px 0px;
}

h6 {
    margin-bottom: 15px;
}

.gender {
    color: #9e9e9e;
    margin-right: 30px;
}

p label {
    margin-right: 35px;
}

.switch label .lever {
	float: right;
	margin: 2px 50px;
}

.input-field.col label {
	width: 100%;
	float: left;
	margin-bottom: 3px;
}

.menu-admin{
	width: 100%;
    margin-top: 22%;
}

.center-align {
    position: absolute;
    
    left: 50%;
    transform: translate(-50%, -50%);
}
table th:last-of-type{
	text-align: center;
}
}