* {
	margin: 0px;
	padding: 0px;
	font-family: sans-serif;
}

#sidebar {
	position: fixed;
	width: 20%;
	height: 100%;
	background: #ee6e73;
	left: -200px;
	transition: 0.5s;
	    top: 0;
}

#sidebar.active {
	left: 0px;
	transform: translate(100deg);
	
}

#sidebar ul li {
	color: rgba(230, 230, 230, 0.9);
	list-style: none;
	width: 100%;
	height: 50px;
	
}


#sidebar .toggle-btn {
	position: absolute;
	left: 230px;
	top: 20px;
}

#sidebar .toggle-btn span {
	display: block;
	width: 30px;
	height: 5px;
	background: #151719;
	margin: 5px 0px;
}

.logo{
	width: 20px;
	height: 30px;
}